@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Neue;
  src: url('./assets/HelveticaNeue-Light.ttf');
}

@font-face {
  font-family: Humane;
  src: url('./assets/Humane-Regular.ttf');
}